<div style="background: #600000 !important"  class="center jumbotron">
  <h1>Bem-Vindo(a) à Gepetohut</h1>

  <h2>
    Faça seu pedido e aproveite as pizzas mais gostosas da região!
  </h2>

  <%= link_to "Cadastre-se Agora!", new_user_registration_path, class: "btn btn-lg btn-primary btn-sample", style: "color: white" %>
</div>

<div style="background: #600000 !important"  class="center jumbotron">
<div class="span3">
  <h2>About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
</div>
