<div class="container">
  <h1>Editar Pedido</h1>
</div>

<div class="container">
  <%= render 'edit_order_form' %>
</div>

<div class="container">
  <%= link_to raw( "Voltar" ), orders_path, class: "btn btn-primary", style: "color: white" %>
</div>
