/*
 *= require_tree .
 *= require_self
 */

h1 {
    background-color: #600000;
    color: white;
}

body {
    background-color: #200000;
}

table {
    background-color: #800000;
    color: white;
}
