/*
 *= require_tree .
 *= require_self
 */

 /*
 *= require font-awesome
 */

 /*
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */


body {
  padding-top: 60px;
  background-color: #200000;
  color: black;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1 {
    background-color: #600000;
    color: white;
}

table {
    background-color: #800000;
    color: white;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #800000;
    color: white;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.jumbotron{
    color: white;
} 

.btn-sample { 
  color: #ffffff; 
  background-color: #BD1B1B; 
  border-color: #000000; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #FF0000; 
  border-color: #000000; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #BD1B1B; 
  border-color: #000000; 
} 
 
.btn-sample .badge { 
  color: #BD1B1B; 
  background-color: #ffffff; 
}

/*
h1 {
    background-color: #600000;
    color: white;
}

body {
    background-color: #200000;
}

table {
    background-color: #800000;
    color: white;
}

label {
    color: white;
}

.panel {
    width: 50%;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #800000;
    color: white;
}
*/

