<div class="container">
  <h1>Editar Pizza</h1>
</div>

<div class="container">
  <%= render 'form' %>
</div>

<div class="container">
  <%= link_to raw( "Voltar" ), pizzas_path, class: "btn btn-primary", style: "color: white" %>
</div>
