<div class="container">
  <h1>Cadastrar Restaurante</h1>
</div>

<div class="container">
  <%= render 'form' %>
</div>

<div class="container">
  <%= link_to raw( "Voltar" ), restaurants_path, class: "btn btn-primary", style: "color: white" %>
</div>
