<div class="container">
  <h1>Editar Avaliação</h1>
</div>

<div class="container">
  <%= render 'form' %>
</div>

<div class="container">
  <% if can? :read, Evaluation %>
    <%= link_to raw( "Voltar" ), evaluations_path, class: "btn btn-primary", style: "color: white" %>
  <% else %>
    <%= link_to raw( "Voltar" ), home_page_index_path, class: "btn btn-primary", style: "color: white" %>
  <% end %>
</div>
